<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="cordova-plugin-bootstart"
        version="0.1.0">

  <name>Cordova Plugin Bootstart</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <platform name="android">

    <config-file target="AndroidManifest.xml" parent="/*">
        <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    </config-file>
    <config-file target="AndroidManifest.xml" parent="./application">
        <receiver
            android:name="rodolfojnn.cordova.plugin.bootstart.BootReceiver"
            android:enabled="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED" >
            <intent-filter>
                    <action android:name="android.intent.action.BOOT_COMPLETED" />
                    <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
    </receiver>
    </config-file>

    <source-file src="src/android/BootReceiver.java" target-dir="src/rodolfojnn/cordova/plugin/bootstart"/>

  </platform>

</plugin>
